/*nav Bar styles*/



.navbar {
    background: rgb(236,99,99);
    background: linear-gradient(0deg, rgba(236,99,99,1) 0%, rgba(130,29,26,1) 78%);
    height: 10vh;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

    a.navbar-brand > img {
        max-width: 100%;
        height: 100px;
    }
