@page
@using PizzaPros.Utility

@if (User.IsInRole(SD.ManagerRole))
{
    <div class="border backgroundWhite container">
        <div class="row">
            <div class="col-6">
                <h2 class="text-primary font-weight-light">Crust Flavor List</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-page="Upsert" class="btn btn-primary"><i class="far fa-plus-square"> &nbsp; Create New</i></a>
            </div>
        </div>
        <br />
        <table id="DT-load" class="table table-striped table-bordered " style="width:100%">
            <thead>
                <tr>
                    <th>Crust Flavor</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
}
else
{
    <h1 class="text-danger">
        Access denied

    </h1>
    <p class="text-danger">You do not have access to this resource.</p>
}


@section Scripts{
    <script src="~/js/crustFlavor.js"></script>
}
